.purchases__products{
    padding: 1em 0.7em;
}

.purchases__container{
    margin: 0 auto;
    padding: 0.5em;
}

.purchases__title{
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
}

@media(min-width:920px){
    .purchases__container{
        max-width: 920px;
    }

    .purchases__title{
        text-align: left;
    }
}